ATTRS{name}=="USB,2-axis 8-button gamepad  ", ATTRS{phys}=="usb-3f980000.usb-1.2/input0", SYMLINK+="input/ibuffalo-pad-1.2", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="USB,2-axis 8-button gamepad  ", ATTRS{phys}=="usb-3f980000.usb-1.3/input0", SYMLINK+="input/ibuffalo-pad-1.3", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="USB,2-axis 8-button gamepad  ", ATTRS{phys}=="usb-3f980000.usb-1.4/input0", SYMLINK+="input/ibuffalo-pad-1.4", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="USB,2-axis 8-button gamepad  ", ATTRS{phys}=="usb-3f980000.usb-1.5/input0", SYMLINK+="input/ibuffalo-pad-1.5", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="HID 0583:2060", ATTRS{phys}=="usb-3f980000.usb-1.2/input0", SYMLINK+="input/ibuffalo-pad-1.2", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="HID 0583:2060", ATTRS{phys}=="usb-3f980000.usb-1.3/input0", SYMLINK+="input/ibuffalo-pad-1.3", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="HID 0583:2060", ATTRS{phys}=="usb-3f980000.usb-1.4/input0", SYMLINK+="input/ibuffalo-pad-1.4", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
ATTRS{name}=="HID 0583:2060", ATTRS{phys}=="usb-3f980000.usb-1.5/input0", SYMLINK+="input/ibuffalo-pad-1.5", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
KERNEL=="js*", SUBSYSTEMS=="usb", DRIVERS=="xpad", ATTRS{bInterfaceNumber}=="00", SYMLINK+="input/xbox360-pad-1", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
KERNEL=="js*", SUBSYSTEMS=="usb", DRIVERS=="xpad", ATTRS{bInterfaceNumber}=="02", SYMLINK+="input/xbox360-pad-2", RUN+="/bin/systemctl --no-block restart xboxdrv-reconnect.service"
